*{
    padding: 0;
    margin: 0;
}

h2{
    text-align: center;
    font-size: 45px;
    background: black;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(132, 228, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calci{
    background: rgb(27, 32, 63);
    padding: 20px;
    border-radius: 1rem;
}

.calci form input{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 1rem;
    font-size: 20px;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex:1;
    font-size: 25px;
}

form input.equal{
    width: 145px;
}